@tailwind base;
@tailwind components;
@tailwind utilities;

.projects {
    @apply px-5 pt-20 pb-10 sm:pb-16 md:pb-32 sm:pt-0 bg-gradient-to-b from-[#05000d] to-gray-900 items-start h-full
  }
  
  .projects div {
    @apply text-start text-white
  }
  
  .projects h1 {
    font-size:  7rem;
    font-weight: bold;
    margin-bottom: 4;
    gap: 10px;
    background: -webkit-linear-gradient(45deg, #08009f00, #fdfdfd 50%);
    -webkit-background-clip: text;
    /* apply background clip */
    -webkit-text-fill-color: transparent;
  }
  
  .projects p {
    background: -webkit-linear-gradient(45deg, #017201, #37ff00 50%);
    -webkit-background-clip: text;
    /* apply background clip */
    -webkit-text-fill-color: transparent;
  }

  .image-container {
    position: relative;
    overflow: hidden;
    width: 100%;

  }
  
  .slide-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-box {
    position: absolute;
    bottom: 0; /* Position the hover box at the bottom */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay background */
    height: auto; /* Adjust height as needed */
    padding: 10px; /* Add padding for better text spacing */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Smooth fade-in */
  }
  
 .image-container:hover .hover-box {
  opacity: 1; /* Show on hover */
}
  
  .image-container:hover .slide-image {
    transform: scale(1.05); /* Slight zoom effect on hover */

  }
  
  .hover-title {
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
  }
  
  .hover-subtitle {
    font-size: 1rem;
    margin: 0.5rem 0 0;
  }

  @media (max-width:600px) {
    .projects h1{
      font-size: 3.5rem;
      height: m;
    }
  }
  